<p>The SubProduct table holds the sub products of a base product, as well as a type of sub product (e.g. exports). A sub_product_type allows categorisation of sub products (I've only included the Export and Compiler sub product types).</p>
<hr>

<% sub_products.group_by(&:sub_product_type).each do |sub_product_type, sub_products_group| %>
  <h4><%= sub_product_type.humanize.titleize %></h4>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Product Type</th>
        <th>Base Price</th>
        <th>Deleted</th>
        <th>Deleted At</th>
        <th>Created At</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <tbody>
      <% sub_products_group.each do |sub_product| %>
        <tr>
          <td><%= sub_product.id %></td>
          <td><%= sub_product.name %></td>
          <td><%= sub_product.sub_product_type %></td>
          <td><%= sub_product.base_price %></td>
          <td><%= sub_product.deleted %></td>
          <td><%= sub_product.deleted_at %></td>
          <td><%= sub_product.created_at.strftime("%H:%M %d/%m/%Y") %></td>
          <td><%= sub_product.updated_at.strftime("%H:%M %d/%m/%Y") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>